src/main/webapp/wsdl/PrimeNumberService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://primenumbers.mattsalts.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://primenumbers.mattsalts.com" xmlns:intf="http://primenumbers.mattsalts.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://primenumbers.mattsalts.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getPrimeNumbers">
    <complexType>
     <sequence>
      <element name="limit" type="xsd:int"/>
      <element name="identifier" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPrimeNumbersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getPrimeNumbersReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPrimeNumbersResponse">

      <wsdl:part element="impl:getPrimeNumbersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPrimeNumbersRequest">

      <wsdl:part element="impl:getPrimeNumbers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PrimeNumberService">

      <wsdl:operation name="getPrimeNumbers">

         <wsdl:input message="impl:getPrimeNumbersRequest" name="getPrimeNumbersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPrimeNumbersResponse" name="getPrimeNumbersResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PrimeNumberServiceSoapBinding" type="impl:PrimeNumberService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPrimeNumbers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPrimeNumbersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPrimeNumbersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PrimeNumberServiceService">

      <wsdl:port binding="impl:PrimeNumberServiceSoapBinding" name="PrimeNumberService">

         <wsdlsoap:address location="http://localhost:8080/PrimeNumbersWS/services/PrimeNumberService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
